<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Apparel Online Store</title>
  <link rel="stylesheet" href={% static 'style.css' %}>
</head>
<body>
  <header>
    <h1>Company Delivered Device Management</h1>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">About Us</a></li>
		{% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">{{user.username}} (Login Out)</a></li>
		{% else %}
		<li><a href="{% url 'login' %}"> (Login In)</a></li>
		{% endif %}
      </ul>
    </nav>
  </header>
  <div class="messages">
    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}
  </div>
  <section class="hero">
    <h2>Welcome to our Company Delivered Device Management!</h2>
  </section>


  <footer>
    <p>&copy; 2024 Company Delivered Device Management. All rights reserved.</p>
  </footer>
</body>
</html>
